<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
  <title>recommend</title>

  <script>
    function filter() {
      let search = document.getElementById('search').value.toUpperCase();
      let position = document.getElementsByClassName('position');

      for(let i=0; i<position.length; i++) {
        let company = position[i].dataset.company;
        
        if(company.toUpperCase().includes(search)) {
          console.log(company);
          position[i].style.display = "flex"
        }else {
          position[i].style.display = "none"
        }
      }

    //   let page = document.querySelector('#display');
    // let child = page.children;
    // let totalPost = child.length;  // 전체 posts 개수
    // let pageBar = Math.ceil(totalPost / posts);
    // console.log(pageBar);

    // console.log(child);
    // console.log(totalPost);

    // for(let i=0; i<child.length; i++) {
    //   child[i].style.display = "none";
    // }

    // for(j=(pageNum-1)*posts; j<pageNum*posts; j++) {
    //   console.log(child[j]);
    //   child[j].style.display = "flex";
    // }

    // // <li class="page-item"><a class="page-link" href="#">1</a></li>
    // let pagination = document.getElementById('pagination');
    // console.log(pagination);
    // pagination.innerHTML = "";
    // for(let k=1; k<=pageBar; k++) {
    //   pagination.innerHTML += `<li class="page-item" id="page-item"><a class="page-link" href="#" onclick="move(${k})">${k}</a></li>`;
    //   if(k == 1) {
    //     break;
    //   }
    // }
      
    }

    let pageNum = 1;
    let posts = 6;
    $('document').ready(function () {
      //let entire_positions = document.querySelectorAll('.position');
      
      $('.dropdown-item').on('click', function(e){
        // console.log(e)
        let value = e.target.innerHTML;
        $('#dropdownMenuButton').html(value);

        let positions = document.querySelectorAll('.position');
        let display = document.getElementById('display');

        for(let i=0; i<positions.length; i++) {
          let career = positions[i].dataset.career;

          if(value == '전체'){
            positions[i].style.display = "flex"
          }
          else if(value == '신입') {
            if(career == '신입') {
              // display.innerHTML += positions[i].outerHTML;
              positions[i].style.display = "flex"
            }else {
              positions[i].style.display = "none"
            }
          }
          else if(value == '경력 무관') {
            if(career == '경력 무관') {
              positions[i].style.display = "flex"
            }else {
              positions[i].style.display = "none"
            }
          }
          else {
            if(career == '신입' || career == '경력 무관') {
              positions[i].style.display = "none"
            }else {
              positions[i].style.display = "flex"
            }
          }
        }
      })

      let tech_stack = document.querySelectorAll('.position');
      let myskill = document.getElementById('mySkill').dataset.myskill.split(',');
      let text = document.querySelectorAll('.caption');
      // console.log(myskill);
      let arr = [];
      for(let i=0; i<tech_stack.length; i++) {
        let stack = JSON.parse(tech_stack[i].dataset.stack);
        // console.log(stack);
        let match = [];
        for(let j=0; j<stack.length; j++) {
          for(let k=0; k<myskill.length; k++) {
            if(stack[j].includes(myskill[k])) {
              match.push(myskill[k]);
              break;
            }
          }
        }
        //console.log(match)
        let percentage = Math.floor((match.length / stack.length) * 100);
        let aa = tech_stack[i].querySelector('.match').innerHTML = percentage + '%';
        let data = tech_stack[i].dataset.percentage = percentage;  
    }

    let page = document.querySelector('#display');
    let child = page.children;
    let totalPost = child.length;  // 전체 posts 개수
    let pageBar = Math.ceil(totalPost / posts);
    console.log(pageBar);

    console.log(child);
    console.log(totalPost);

    for(let i=0; i<child.length; i++) {
      child[i].style.display = "none";
    }

    for(j=(pageNum-1)*posts; j<pageNum*posts; j++) {
      console.log(child[j]);
      child[j].style.display = "flex";
    }

    // <li class="page-item"><a class="page-link" href="#">1</a></li>
    let pagination = document.getElementById('pagination');
    console.log(pagination);
    for(let k=1; k<=pageBar; k++) {
      pagination.innerHTML += `<li class="page-item" id="page-item"><a class="page-link" href="#" onclick="move(${k})">${k}</a></li>`;
    }

  })

  function move(newPageNum) {
    console.log('aa');
    console.log(newPageNum);

    let page = document.querySelector('#display');
    let child = page.children;
    let pagination = document.getElementById('pagination');
    let item = document.getElementById('page-item');

    // item.classList.add('active');

    for(j=(pageNum-1)*posts; j<Math.min(pageNum*posts, child.length); j++) {
      console.log(child[j]);
      child[j].style.display = "none";
    }
    
    pageNum = newPageNum;

    for(j=(pageNum-1)*posts; j<Math.min(pageNum*posts, child.length); j++) {
      console.log(child[j]);
      child[j].style.display = "flex";
      item.classList.add('active');
    }
  }

  let count = 0;

  function match() {
    let entire = [];
    let first = [];
    let positions = document.querySelectorAll('.position');
    let display = document.getElementById('display');

    for(let i=0; i<positions.length; i++) {
      entire.push(positions[i]);
      first.push(positions[i]);
    }

    entire.sort(function(a, b) {
        if(b.dataset.percentage == a.dataset.percentage) {
          if(a.dataset.position > b.dataset.position) {
            return 1;
          }else {
            
            return -1;
          }
        }
        return b.dataset.percentage - a.dataset.percentage;
    });

    // console.log(entire);

    count++;
    console.log(count);
    if(count % 2 == 0) {
      display.innerHTML = "";
      for(let a=0; a<first.length; a++) {
        display.appendChild(first[a]);
      }
    }else {
      display.innerHTML = "";
      for(let j=0; j<entire.length; j++) {
        display.appendChild(entire[j]);
      }
    }

    let page = document.querySelector('#display');
    let child = page.children;
    let totalPost = child.length;  // 전체 posts 개수
    let pageBar = Math.ceil(totalPost / posts);
    console.log(pageBar);

    console.log(child);
    console.log(totalPost);

    for(let i=0; i<child.length; i++) {
      child[i].style.display = "none";
    }

    for(j=(pageNum-1)*posts; j<pageNum*posts; j++) {
      console.log(child[j]);
      child[j].style.display = "flex";
    }

    // <li class="page-item"><a class="page-link" href="#">1</a></li>
    let pagination = document.getElementById('pagination');
    console.log(pagination);
    pagination.innerHTML = "";
    for(let k=1; k<=pageBar; k++) {
      pagination.innerHTML += `<li class="page-item" id="page-item"><a class="page-link" href="#" onclick="move(${k})">${k}</a></li>`;
    }
  }

  </script>

</head>
<body>
<!-- Navigation-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand page-scroll" href="/">TecTrees</a> 
      </div>
      <div class="navbar-brand" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="techtree" class="page-scroll">TechTree</a></li>
          <% if(email == null) { %>
            <li class="login"><a href="Login" class="page-scroll">Login</a></li>
          <% }else { %>
            <li class="logout"><a href="Logout" class="page-scroll">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="reco-title col-12">
          <h3 class="text-center">기업 추천</h3>
        </div>
        <div class="reco-desc col-12 ml-2">
          <p class="text-center">선택한 기술들에 맞는 구인공고 입니다.</p>
        </div>
        <div id="mySkill" class="select_skill col-12 text-center" data-myskill="<%=tech%>">
          <p>선택 기술: <strong><%=tech %></strong></p>
        </div>
      </div>
    </div>

    <div class="reco-tag">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" id="search" class="form-control input-lg" placeholder="Search" />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button" onclick="filter()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search mb-1" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
          
              <div class="dropdown" id="myDropdown">
                <button class="btn btn-secondary dropdown-toggle mr-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  전체
                </button>  
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">전체</a>
                  <a class="dropdown-item" >신입</a>
                  <a class="dropdown-item" >경력 무관</a>
                  <a class="dropdown-item" >경력</a>
                </div>
              </div>

              <button id="btnPoint" class="btn btn-light" data-toggle="portfilter" data-target="all" onclick="match()">
                적합도 순
            </button>    
        </div>
      </div>
    </div>

    <div class="position-list">
      <div class="container">
        <div id="display" class="row">
          <% for(i of companies) { %>
            <div class="col-md-6 clearfix position" data-position="<%= i.position %>" data-company="<%=i.company%>" data-career="<%=i.career%>" data-stack="<%=i.tech_stack%>" data-percentage="">
              <div class="picture-list">
                <% if(tech !== undefined) { %>
                  <a href="/require/<%=i.positionId%>?data=<%=tech%>">
                <% }else { %>
                  <a href="/require/<%=i.positionId%>">
                <% } %>
                    
                  <div class="pictures">
                    <img src="<%=i.logo_src%>">
                  </div> 
                    <div class="caption">
                      <h4 class= "caption-position"><%= i.position %><b class="match"></b></h4>
                      <p class="caption-company"><%=i.company %></p>
                      <% let tech_stack = JSON.parse(i.tech_stack) %>
                      <% for(let j=0; j<tech_stack.length; j++) {%>
                        <span id="techStack" class="badge badge-light"><%=tech_stack[j]%></span>
                      <% } %> 
                    </div>
                  
                </a>
              </div>
          </div>
        <% } %>

        </div>
        <nav aria-label="Page navigation" class="page-nav">
          <ul class="pagination justify-content-center" id="pagination">

          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>Services</h3>
                      <ul>
                          <li><a href="#">Web design</a></li>
                          <li><a href="#">Development</a></li>
                          <li><a href="#">Hosting</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Company</a></li>
                          <li><a href="#">Team</a></li>
                          <li><a href="#">Careers</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>Company Name</h3>
                      <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                  </div>
              </div>
              <p class="copyright">Company Name © 2020</p>
          </div>
      </footer>
    </div>
  </div>
</body>
</html>