<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
   <!--Bootstrap-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
   <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"></link>

   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href='/css/progressbar.css'>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
  <title><%=id%></title>
</head>
<script type="text/javascript">
  // https://stove99.tistory.com/45 문자열 escape 변형 관련
  function decodeHTML(text){
    return String(text).substring(1,text.length-1)
                       .replace(/&amp;/g, "&")
                       .replace(/&lt;/g, "<")
                       .replace(/&quot;/g, "\"")
                       .replace(/&gt;/g, ">")
                       .replace(/&nbsp;/g, '\n')
  }
  // https://meaningone.tistory.com/301
  // https://developer.mozilla.org/ko/docs/Web/Events/load
  window.addEventListener("load", function(){
    htmls = document.querySelectorAll(".info")
    for (html of htmls) {
      html.innerHTML = decodeHTML(html.innerHTML)
    }
    let reqText = document.getElementById('requirement').innerHTML;
    let techs = document.getElementById('requirement').dataset.tech.split(',')
    for (tech of techs) {
      console.log(reqText.search(tech))
      if (reqText.search(tech) != -1) {
        reqText = reqText.replace(tech, `<b style="color:red;">${tech}</b>`)
        reqText = reqText.toUpperCase();
      }
    }
    document.getElementById('requirement').innerHTML = reqText;

    let match = [];
    let tech_stack = JSON.parse(document.getElementById('techStack').dataset.stack);
    for(let i=0; i<tech_stack.length; i++) {
      for(let j=0; j<techs.length; j++) {
      if(tech_stack[i].includes(techs[j])) {
        match.push(techs[j])
      }
      }
    }
    console.log(match)

    let percentage = Math.floor((match.length / tech_stack.length) * 100);
    document.getElementById('percentage').innerHTML = percentage + ' %';
    document.getElementById('progress').dataset.percentage = percentage;
    console.log(percentage)

    // let position = document.getElementById('position').dataset.position;
    // console.log(position);

    // let postFetch = () => {
    //       fetch("/recommend", {
    //         method: "POST",
    //         headers: {
    //           "Content-type": "application/json; charset=UTF-8"
    //         },
    //         body: JSON.stringify(percentage)
    //       })
    //       .then(response => response.json())
    //       .then(json => {
    //         console.log(json)
    //         // let resultHtml = document.querySelector('#position_percentage');
    //         // resultHtml.innerHTML = "POST Fetch <br />" + JSON.stringify(json)
    //       })
    //     }

  })

  function gotologin() {
      location.replace('/login');
    }

  function timer() {
      setTimeout('gotologin()', 1500);
    }

  function add() {
    console.log('ok!');
    let pass = "clicked!!";
    let position = document.getElementById('position').dataset.position;
    console.log(position);

    $.ajax({
      url: 'require',
      method: 'POST',
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      },
      data: JSON.stringify({
        data: position
      }),
      success: function(response) {
        if(response == false) {
            // alert('로그인 후 이용하세요.');
            Swal.fire({
             position: 'center',
             icon: 'error',
             title: '로그인 후 이용하세요.',
             showConfirmButton: false,
             timer: 1500
            })
            timer()
      }else {
        console.log(response);
            // alert('save!');
            Swal.fire({
             position: 'center',
             icon: 'success',
             title: '프로필에 추가되었습니다.',
             showConfirmButton: false,
             timer: 1500
            })
          }        
      },
      error: function(err) {
        alert('no!');
      }
    })
  }

</script>
<body>
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand page-scroll" href="http://localhost:3000">TecTrees</a> 
      </div>
      <div class="navbar-brand" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:3000/techtree" class="page-scroll">TechTree</a></li>
          <% if(email == null) { %>
            <li class="http://localhost:3000/login"><a href="Login" class="page-scroll">Login</a></li>
          <% }else { %>
            <li class="http://localhost:3000/logout"><a href="Logout" class="page-scroll">Logout</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="recruit">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="company_position">
              <div class="position col-12" id="position" data-position="<%=info.positionId%>">
                <h3><%=position_info.position%></h3>
              </div>
              <div class="company col-12" data-company="<%=position_info.company%>">
                <h6><%=position_info.company%><button class="btn-secondary ml-3" onclick="add()">추가</button></h6>
              </div>
            </div>
            <hr class="col-11">

            <div class="tech_stack col-12" id="techStack" data-stack="<%=position_info.tech_stack%>">
              <h5>기술 스택</h5>
              <% let tech_stack = JSON.parse(position_info.tech_stack) %>
              <% for(let i=0; i<tech_stack.length; i++) { %>
                <span class="badge badge-light"><%=tech_stack[i]%></span>
              <% } %> 
            </div>
    
            <div class="position col-12">
              <p class="info"><%=position_info.position_Info%></p>
            </div>
    
            <div class="requirement col-12" id='requirement' data-tech="<%=tech%>">
              <p class="info"><%=position_info.requirement%></p>
            </div>
    
            <div class="preference col-12">
              <p class="info"><%=position_info.preference%></p>
            </div>
          </div>
          </div>
          

          <div class="col-4 right_section">
            <div class="row justify-content-center">
              <% if(tech !== undefined) { %>
                <p>Matching percentage</p>
                <div class="container p-5 mb-5 text-center progress_box">
                  <div class="progress" id="progress" data-percentage="">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                      <div>
                        <p id="percentage"></p>
                        <br>
                        <strong>Matching</strong>
                      </div>
                    </div>
                  </div>
                </div>
              <% }else { %>
                <div></div>
              <% } %>
              <div class="row justify-content-center">
                <% if(position_info.location != null) { %>
                  <p>Company Location</p>
                  <div id="map" data-loc="<%=position_info.location%>"></div>
                  <p class="mapName text-center"><%=position_info.location%></p>
                <% }else { %>
                  <div style="display: none;"></div>
                <% } %>
              </div>
            </div>
          </div>

      </div>

    </div>
  </div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=03a0f07e920cd5a43ace4db0fcf6149c&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
let loc = document.getElementById('map').dataset.loc;
console.log(loc);
geocoder.addressSearch(loc, function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
             content: '<div style="width:150px;text-align:center;padding:6px 0;">location</div>'
        });
        //infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      } 
  });    
</script>
</body>
</html>